.hero {
	padding: var(--space-sm) var(--space-md);
	background-color: var(--card-bg);
	border-bottom: 1px solid var(--border);
	height: min(100dvh, 500px);
	display: grid;
	place-content: center;
	font-size: 1.5rem;

	& .circle {
		aspect-ratio: 1 / 1;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: var(--space-lg);
		border-radius: 100%;
		background-color: var(--button-primary-bg);
		color: var(--button-primary-color);
		width: fit-content;
		margin: 0 auto;
		margin-bottom: var(--space-lg);
	}
	& svg {
		width: 4rem;
		height: 4rem;
	}

	h1 {
		margin: 0;
		font-size: 3rem;
	}

	& .button-container {
		text-align: center;
	}

	& button + button {
		margin-left: var(--space-sm);
	}

	& p {
		color: var(--muted);
		margin-top: var(--space-sm);
		margin-bottom: var(--space-md);
	}
}

h2 {
	scroll-margin-top: var(--space-lg);
	margin-top: var(--space-lg) !important;
}

.card.steps {
	flex-direction: column;
	max-width: 70ch;
	width: 100%;
	margin: 0 auto;
	margin-bottom: var(--space-md);

	& .header {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: var(--space-sm);
	}

	& .circle {
		aspect-ratio: 1 / 1;
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: var(--space-sm);
		border-radius: 100%;
		background-color: var(--button-primary-bg);
		color: var(--button-primary-color);
		font-size: 1.2rem;
		font-weight: bold;
	}
	& h3 {
		margin: 0;
	}
	& > p {
		color: var(--muted);
		margin: 0;
		line-height: 1.5;
		text-align: left;
		width: 100%;
	}
	& .difficulty-container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		gap: var(--space-md);

		& .card {
			flex-direction: column;
		}

		& p,
		h4 {
			margin: 0;
		}
	}
}

.card.game-picker {
	flex-direction: column;
	background-image: var(--bg-image);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border: 1px solid var(--border);

	& h3 {
		margin: 0;
		margin-bottom: var(--space-md);
	}

	& .links {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: var(--space-sm);
	}
}

.game-modes {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--space-md);
	flex-wrap: wrap;
}
